<%- include('partials/header') -%>
<body>
    <main class="home__container">
    <div class="container__text">
        <h1 class="home__title">Kanplan seamlessly integrates your development tasks, and team collaboration into <span>one cohesive experience</span>.</h1>
    
    <p>Kanplan is a powerful kanban website designed specifically for developers, offering a wide range of functionalities similar to Trello and more. With Kanplan, developers can effectively manage their projects, tasks, and workflows in a visual and organized manner.</p>

    <p>Kanplan goes beyond traditional kanban tools by providing additional features tailored to the needs of developers.</p>

    <a class="link__viewboard" href="/todo">view board</a>
</div>
<img class="home__img" src="http://placekitten.com/g/500/350"/>
</main>
    
<%- include('partials/footer') -%>