<%- include('partials/header') -%>
<main class="login">
    <div class="login__container">
        <h1>Welcome to Kanplan <br> 
            Sign up to continue.</h1>
        <p>Already have an account? <a href="/login">Sign in</a>.</p>

    <form class="login__form" action="/signup" method="POST">
        <input type="text" name="userName" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input class="login__button" type="submit">
    </form>
</div>
    </main>
    <%- include('partials/footer') -%>